td .badge {
    display: inline-block;
    width: fit-content;
    padding: 6px 12px;
    font-size: 0.875rem;
    white-space: nowrap; /* Prevents the badge from breaking */
  }
  
  td {
    position: relative; /* Ensures content stays inside the table field */
    text-align: center;
    vertical-align: middle;
    
  }